body {
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
}
.header-links {
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
}

li {
    list-style-type: none;
    padding: 16px;
}

.main-body, .footer{
    background-color: #1F2937;
    color: salmon;
}

.body-header {
    font-size: 48px;
    color: #F9FAF8;
}

