body {
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
}
.header-links {
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
}

li {
    list-style-type: none;
    padding: 16px;
}

.main-body-container, .footer, .header {
    background-color: #1F2937;
    color: salmon;
}

.body-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.body-button {
    padding: 8px;
}

.body-button > * {
    background-color: #3882F6;
    padding-inline: 16px;
}

.main-body-container {
    display: flex;  
    padding: 64px;

}

.main-body-container > * {
    display: flex;
    justify-content: center;



}

.main-body {   
    flex-direction: column;
    padding-right: 16px;

}


.image-container {
    flex-grow: 1;
    flex-shrink: 0;
}

.image-container > * {
    height: 80%; 
    width: 80%; 
    object-fit: contain;  
}


.sub-body {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.sub-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding: 1rem;
}

.sub-image-container {
    display: flex;
    flex-direction: column;

}

.sub-image {
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
}

.sub-container {
    display: flex;
    width: 70%;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 5rem;
}


.sub-text {
    display: flex;
}

.sub-image-text {
    width: 100px;
    height: 100px;
}

.sub-text > * {
    display: flex;
}

.extra-body {
    display: flex;
    flex-direction: column;
    padding: 6rem;
    background-color: #E5E7EB;
}

.extra-text {
    font-size: 36px;
    font-style: italic;
}

.extra-quote {
    display: flex;
    justify-content: right;
    font-size: 30px;
    font-weight: bold;
}

